<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block titulo %}Mischiros.com la mejor ropa para ti{% endblock %}</title>
        {% block estilos %}{% endblock %}
        {% stylesheets filter='less' output='css/bootstrap_1.css''bundles/mischirostienda/less/bootstrap.less' %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
        {% endstylesheets %}
        <link href="{{ asset('bundles/mischirostienda/css/main.css') }}" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Mischiros.com</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {% block barradenavegacion %}
                            <li class="active"><a href="{{ path('home')}}">Home</a></li>
                            <li><a href="{{ path('listarportipo',{ 'tipo' : 1 }) }}">Comprar</a></li>
                            <li><a href="{{ path('contactenos')}}">Contactenos</a></li>
                        {% endblock %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li>
                                <p class="navbar-text">Bienvenido <a href="/perfil" class="navbar-link">{{app.user.username}}</a></p>
                            </li>
                            <form class="navbar-form navbar-left" role="form"> 
                                <a href="/perfil" class="btn btn-primary">Perfil</a>
                                <a href="{{ path('fos_user_security_logout') }}" class="btn btn-primary">{{ 'link_logout'|trans({}, 'SonataUserBundle') }}</a>
                            </form>
                        {% else %}                            
                            <a href="/login" class="btn btn-primary navbar-btn">{{ 'link_login'|trans({}, 'SonataUserBundle') }}</a>
                            <a href="/registro" class="btn btn-primary navbar-btn">{{ 'link_register'|trans({}, 'SonataUserBundle') }}</a>
                        {% endif %}
                    </ul>
                </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        {% block contenido %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
        <script src="{{ asset('js/jquery.js') }}"></script>
        <!-- Include all JavaScripts, compiled by Assetic -->
        <script src="{{ asset('js/bootstrap.js') }}"></script>
    </body>
</html>
