{% extends 'base.html.twig' %}

{% block barradenavegacion %}
    <li><a href="{{ path('home')}}">Home</a></li>
    <li class="active"><a href="{{ path('listarportipo',{ 'tipo' : 1 }) }}">Comprar</a></li>   
    <li><a href="{{ path('noticias')}}">Noticias</a></li>
    <li><a href="{{ path('contactenos')}}">Contactenos</a></li>
{% endblock %}

{% block contenido %}	
	<br>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">				
			{{ form(form) }}
		</div>
	</div>	
{% endblock %}