{% extends 'base.html.twig' %}

{% block titulo %}Comprar{% endblock %}

 {% block barradenavegacion %}
    <li><a href="/">Home</a></li>
    <li class="active"><a href="/comprar/listar">Comprar</a></li>
    <li><a href="#">Contactenos</a></li>
{% endblock %}

{% block contenido %}{# 
	<div class="count">
    {{ prendas.getTotalItemCount }}
	</div> #}

	<div class="container">
		<div class="row">
			<div class="col-md-2 col-md-offset-1">
				<ul class="list-group">
					<li class="list-group-item">
						<span class="badge">14</span>
						<a href="#">Hombre</a>
					</li>
					<li class="list-group-item">
						<span class="badge">2</span>
						<a href="#">Mujer</a>
					</li>
					<li class="list-group-item">
						<span class="badge">1</span>
						<a href="#">Niñ</a>
					</li>
				</ul>
				<br>
			</div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-4 pull-right">{{ knp_pagination_sortable(prendas, 'Ordenar por Precio de venta', 'p.precio_venta') }}<br><br><br></div>
				</div>
				<div class="row">
				{% for prenda in prendas %}
					{% if (loop.index % 3 == 0 and loop.index > 1) %}
						<div class="col-md-4 producto">
							<div class="row">
								<div class="col-md-12">{% media prenda.media, 'small' %}</div>
							</div>
							<div class="row">
								<div class="col-md-6">${{ prenda.precioVenta | number_format(0, ',', '.') }}</div>
								<div class="col-md-6"><a href="#" class="btn btn-primary">Comprar</a></div>
							</div>
						</div>
				</div>
				<div class="row">
					{% elseif loop.last %}
						</div>
					{% else %}
						<div class="col-md-4 producto">
							<div class="row">
								<div class="col-md-12">{% media prenda.media, 'small' %}</div>
							</div>
							<div class="row">
								<div class="col-md-6">${{ prenda.precioVenta | number_format(0, ',', '.') }}</div>
								<div class="col-md-6"><a href="#" class="btn btn-primary">Comprar</a></div>
							</div>
						</div>
					{% endif %}

				{% endfor %}	
				<div class="row">
					<div class="col-md-4 pull-right">{{ knp_pagination_render(prendas) }}</div>
				</div>	
			</div>
		</div>
	</div>
{% endblock %}